---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Here you can find most of the teaching material that I have been working on recently. I received all my education for free, in public schools financed by Serbian and Swiss taxpayers (for which I'm deeply grateful) and I truly believe that knowledge should be free and accessible to all. If you find any of these materials useful for your own teaching, feel free to use them, but I would appreciate some words of acknowledgment. Most of the slides are in Serbian, but hopefully, that should not be too much of an obstacle today. Many of the slides likely also contain mistakes, since they are all very fresh; in case you spot any, please send me an email with the details. 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
